*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    max-width: 100%;
    /* font-size: 15px; */
    /* font-weight: 200; */
}
html {
    font-size: 10px;
    box-sizing: border-box;
  }

img {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }
a {
    text-decoration: none;
  }

  body {
    background-color: #fafafa;
  }

.login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10rem;

}


.navbar{
  width: 100%;
  height: 6rem;
  margin-top: 0;
  position: fixed;
  top: 0;
  border: 2px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navlogo{
    width: 11.5rem;
    margin-left: 24rem;
}
.button{
  margin-right: 24rem;

}
#login{
  /* height: 8rem; */
  width: 8rem;
  margin: 1rem 1rem 1.5rem;
  height: 3rem;
  background-color: #3897f0;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
#signup{
  margin: 1rem 0 1.5rem;
  height: 3rem;
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  color: #3897f0;
  border: none;
  border-radius: .4rem;
  cursor: pointer;
}

.container{
  width: 100%;
  max-width: 100rem;
  margin: 3rem auto 0;
  margin-top: 0rem;
  /* border: 2PX solid black; */
  
}

.login-page >.container{
    display: flex;
    padding: 0 8rem;
}
.formdata{
    width: 100%;
    max-width: 35rem;
    /* margin-top: 3rem; */
    margin: 0 auto;
    /* border: 2PX solid black;  */
}
.formdata form {
    background-color: #fff;
    border: 2px solid #eee;
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    text-align: center;
  }
.logo img {
    width: 17.5rem;
    margin-bottom: 2.5rem;
  }
  #msg{
    font-size: 1.8rem;
    color: rgb(113, 110, 110);
    margin-bottom: 1.5rem;
  }
  .login_with_fb{
    margin: 1rem 0 1.5rem;
    height: 3rem;
    background-color: #0d72d0;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
  }
  .facebook-login {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;
    margin-bottom: 2.5rem;
  }
  .facebook-login i {
    font-size: 2rem;
    margin-right: .7rem;
  }

  .has-separator {
    font-size: 1.3rem;
    color: #999999;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 2.5rem;
  }

 .has-separator::before,
.has-separator::after {
  content: "";
  position: absolute;
  background-color: #eee;
  width: 40%;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
}

.has-separator::before {
  left: 0;
}

.has-separator::after {
  right: 0;
}


.formdata form input {
    padding: .8rem;
    margin-bottom: .5rem;
    border: 2px solid #eee;
    border-radius: .4rem;
  }

  
  
  .info{
    color: gray;
    font-size: 1.4rem;
  }
.info a{
    color: #383bf0;
}
  .learn{
    margin-bottom: 1rem;
  }

  .form-btn {
    margin: 1rem 0 1.5rem;
    height: 3rem;
    background-color: #0d72d0;
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
  }
  .sign-up {
    text-align: center;
    font-size: 1.4rem;
    color: #262626;
    padding: 2rem 0;
    background-color: #fff;
    border: 2px solid #eee;
    margin: 1rem 0;
  }

  .sign-up a {
    color: #3897f0;
    font-weight: bold;
  }
  .get-the-app {
    font-size: 1.4rem;
    text-align: center;
  }
  .get-the-app span {
    display: block;
    margin: 2rem 0;
    color: #262626;
  }

.badges {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .badges img {
    max-width: 14rem;
    cursor: pointer;
  }

  .badges img:first-child {
    margin-right: 1rem;
  }
  footer{
    padding: 5rem 0;
  }
  .foot{
    width: 100%;
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem auto 0;
    margin-top: 0;
  }
  .foot-navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
.foot-navbar a{
  color: rgb(113, 110, 110);
}
  .copyright{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.copyright select{
  margin-right: 1.6rem;
  text-decoration: none;
}
.lan{
  border: none;
  outline: none;
  color: gray;
}
  .copyright img{
    width: 100%;
    max-width: 1.4rem;
    margin-right: .2rem;
  }
  .copyright p{
    font-size: 1rem;
    color: rgb(88, 86, 86);
  }

/* Media queries */
@media (max-width: 900px) {
  .phone-app-demo {
    display: none;
  }
  .formdata {
    margin: 0 auto;
  }
  .login-page >.container{
    padding: 0;
  }
  footer .foot {
    padding: 0 2rem;
    justify-content: center;
  }
.foot-navbar{
  justify-content: center;
}
.foot-navbar a{
  margin-bottom: 1rem;
}

}